p{
  margin-bottom: 0;
}
.contact_main{
  width: 100%;
  background-color: #ebebeb;
  padding: 150px 0 100px 0;
  font-family: "Montserrat-Regular";
}
.contact_size{
  width: 63%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.contact_size_left{
width: 570px;
box-shadow: 0 0 19.2px 0.8px rgba(2, 2, 2, 0.22);
background-color: #ffffff;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}
.contact_size_left p{
  font-size: 20px;
  margin: 30px 0;
}
.contact_size_left input{
  font-size: 13px;
  letter-spacing: 1px;
  color: #d2d2d2;
  width: 426px;
 height: 36px;
 border-radius: 10px;
 box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
 background-color: #ffffff;
 border: none;
 outline: none;
 margin-bottom: 15px;
  padding-left: 20px
}
.contact_size_left textarea{
  font-size: 13px;
  letter-spacing: 1px;
  color: #d2d2d2;
  width: 426px;
 height: 122px;
 border-radius: 10px;
 box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
 background-color: #ffffff;
 border: none;
 outline: none;
 padding-left: 20px
}
.contact_size_left button{
  font-size: 20px;
  color: #ffffff;
  width: 126px;
height: 41px;
border-radius: 10px;
background-color: #ff9c00;
border: none;
outline: none;
margin: 45px 0 35px 0;
}
.contact_size_right{
  width: 295px;
box-shadow: 0 0 19.2px 0.8px rgba(2, 2, 2, 0.22);
background-color: #ffffff;
text-align: center;
}
.ContactInfo{
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 50px 0;
}
.ContactInfo_box{
  display: flex;
  justify-content: center;
  align-items: center;
    font-size: 15px;
    margin-bottom: 30px;
}
.ContactInfo_box img{
  width: 14px;
height: 14px;
margin-right: 12px
}
.ContactInfo_box p{
  font-size: 15px;
}
.contact_size_right_line{
  height: 1px;
  background-color: #000;
  width: 85%;
  margin: 60px auto 30px;
}
.contact_size_right_text{
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
 color: #808080;
}
@media screen and (max-width:1200px) {
  .contact_main{
    padding: 60px 0;
  }
  .contact_size{
    width: 90%;
  }
  .contact_size_left{
  width: 570px;
  }
  .contact_size_left p{
    font-size: 20px;
    margin: 20px 0;
  }
  .contact_size_left input{
    font-size: 13px;
    width: 90%;
   height: 35px;
   margin-bottom: 15px;
    padding-left: 20px
  }
  .contact_size_left textarea{
    font-size: 13px;
    width: 90%;
   height: 80px;
   padding-left: 20px;
  }
  .contact_size_left button{
    font-size: 16px;
    width: 80px;
  height: 35px;
  margin: 30px 0;
  }
  .contact_size_right{
    width: 295px;
  }
  .ContactInfo{
      font-size: 20px;
      margin: 30px 0;
  }
  .ContactInfo_box{
      font-size: 15px;
      margin-bottom: 20px;
  }
  .ContactInfo_box img{
    width: 14px;
  height: 14px;
  margin-right: 10px
  }
  .ContactInfo_box p{
    font-size: 15px;
  }
  .contact_size_right_line{
    width: 85%;
    margin: 30px auto;
  }
  .contact_size_right_text{
    width: 80%;
    font-size: 14px;
  }
}
@media screen and (max-width:700px) {
  .contact_main{
    padding: 40px 0;
  }
  .contact_size{
    width: 90%;
    flex-direction: column;
  }
  .contact_size_left{
  width: 100%;
  margin-bottom: 20px
  }
  .contact_size_left p{
    font-size: 20px;
    margin: 20px 0;
  }
  .contact_size_left input{
    font-size: 13px;
    width: 90%;
   height: 35px;
   margin-bottom: 15px;
    padding-left: 20px
  }
  .contact_size_left textarea{
    font-size: 13px;
    width: 90%;
   height: 80px;
   padding-left: 20px;
  }
  .contact_size_left button{
    font-size: 16px;
    width: 80px;
  height: 35px;
  margin: 30px 0;
  }
  .contact_size_right{
    width: 100%;
    padding-bottom: 20px;
  }
  .ContactInfo{
      font-size: 20px;
      margin: 30px 0;
  }
  .ContactInfo_box{
      font-size: 15px;
      margin-bottom: 20px;
  }
  .ContactInfo_box img{
    width: 14px;
  height: 14px;
  margin-right: 10px
  }
  .ContactInfo_box p{
    font-size: 15px;
  }
  .contact_size_right_line{
    width: 85%;
    margin: 30px auto;
  }
  .contact_size_right_text{
    width: 80%;
    font-size: 14px;
  }
}
