/* FONTS */

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../fonts/Lato-BlackItalic.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../fonts/Lato-BoldItalic.ttf');
}

@font-face {
    font-family: 'Lato-Hairline';
    src: url('../fonts/Lato-Hairline.ttf');
}

@font-face {
    font-family: 'Lato-HairlineItalic';
    src: url('../fonts/Lato-HairlineItalic.ttf');
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/Lato-Italic.ttf');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../fonts/Lato-LightItalic.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf');
}

/* END FONTS */

/* MAIN CSS */
html {
    margin: 0 !important;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

button:focus {
    outline: none !important;
}

a:focus {
    box-shadow: none;
    outline: none;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* END MAIN CSS */


/* Dashboard */

.dashboard_page-container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-left: 465px;
    -webkit-transition: padding-left 0.3s ease 0s;
    transition: padding-left 0.3s ease 0s;
}
.dashboard_page-container aside {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    height: 100vh;
    max-width: 465px;
    width:100%;
    overflow: hidden;
    overflow-y: scroll !important;
    background: #1b2743;;
    box-shadow: 2px 0 32px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.dashboard_page-container .main-content {
    width: 100%;
    background: #f5f5f5;;
    min-height: 960px;
}

.dashboard_page-container aside>h1{
    font-family: 'Lato-Regular';
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: center;
    color: #fefeff;
    padding-top: 57px;
    padding-bottom: 90px;
}
.dashboard_page-container .sidebar-menu ul{
    list-style-type: none;
    padding-left: 0;
}
.dashboard_page-container .sidebar-menu li.active_page{
    background-color: #151515;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    border-left: 15px solid #ff9c00;

}
.dashboard_page-container .sidebar-menu li{
  text-align: center;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard_page-container .sidebar-menu li img{
margin-right: 15px;
}
.dashboard_page-container .sidebar-menu li a{

  font-size: 20px;
  color: #ffffff;
}
.dashboard_content > .container-fluid{
   padding-left: 130px !important;
   padding-right: 130px !important;
}
.dashboard_content>h1{
    font-family: 'Lato-Bold';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
    padding-left: 130px;
    padding-top: 57px;
    padding-bottom: 90px;
}
.dashboard_content>h3{
    font-family: 'Lato-Bold';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #d8d8d8;
    padding-left: 130px;
}
.d-box__bg{
    padding: 34px;
    box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
    background-color: #ffffff;
    min-height: 192px;
}
.dashboard_box>label{
    font-family: 'Lato-Bold';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    padding-left: 34px;
    margin-top: 26px;
    margin-bottom: 18px;
}
.d-box_title{
    display: inline-flex;
    margin-bottom: 27px;
}
.d-box_title h2{
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    margin-right: 30px;
}
.d-box_title a img{
    margin-right: 10px;
}
.d-box>p{
    font-family: 'Lato-Bold';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    margin-bottom: 5px;
}



/*  lawers*/
.dashboard_page-container aside {
  background-color: #242524;
}
.dashboard_logo{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.dashboard_logo img{
  width: 100px;
  height: 35px;
}
.dashboard_user{
  text-align: center;
}
.dashboard_user p{
    font-family: "Montserrat-Regular";
  font-size: 20px;
color: #ffffff;
}
.Employer_name{
  margin-top: 24px;
}
.Example_examplegmail_com{
  margin-bottom: 50px;
}
.clear{
  width: 100%;
  height: 60px;
}
.dash_img_add{
  width: 100%;
    object-fit: cover;
    object-position: center;
}
.dash_textarea{
  max-width: 857px;
  width: 100%;
height: 149px;
border: solid 2px #ebebeb;
background-color: #ffffff;
font-size: 20px;
color: #d2d0d0;
padding-top: 11px;
padding-left: 19px;
margin-left: 110px;
}
/*  drop*/
.dash_btn_bottom{
  width: 90%;
  text-align: right;
}
.dash_btn_bottom button{
  width: 281px;
  height: 50px;
  background-color: #ff9c00;
  font-size: 20px;
  color: #ffffff;
}
/* .dis_block{
} */
.dash_3_blocks{
  margin-left: 110px;
  margin-top: 35px;
  width: 100%;
}
.dash_3_blocks_flex{
display: flex !important;
}
.dash_3_blocks_size{
  display: flex !important;
  flex-direction: column;
  align-items: center;
text-align: center;
margin-right: 35px;
cursor: pointer;

}
.dash_3_blocks_box:hover{
  background-color: #ff9c00;
}
.dash_3_blocks_size:hover p{
  color: #ff9c00;
}


.dash_3_blocks_size p{
    font-family: "Montserrat-Regular";
padding: 0 !important;
font-size: 16px;
color: #000;
}
.dash_3_blocks_box{
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 73px;
height: 65px;
background-color: #fff;
border: 1px solid #000;
}
.dbd_img{
  margin-left: 50px;
  margin-right: 25px;
}
.faq-section{
  width: 90%;
}

.faq-section .profile-image {
    width: 110px;
}

.faq-section-area input {
    display: none;
}

.list{
  margin-left:10px;
  font-size: .8em;
}
.faq-section p {
  padding-left: 120px;
}
/*Add some spacing*/
.faq-section{
    margin: 40px 0;
        position: relative;

}

/*Hide the paragraphs*/
.faq-section div{
    display: none;
}

/*Hide the checkboxes */
.faq-section input{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    display: none; /* IE8 and below */
    margin: 0;
    width: 100%;
    height: 36px;
}

/*Show only the clipped intro*/
.faq-section label{
    display: block;
    color: #000;
    font-size: 20px;
    transition: all .15s ease-out;
    /* Clipping text */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*If the checkbox is checked, show all paragraphs*/
.faq-section input[type=checkbox]:checked~div{
    display: block;
    color: #444;
    font-size: 1em;
    /* restore clipping defaults */
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}

/*Style the label*/
.faq-section label{
    font-size: 1.2em;
    background: #ebebeb;
    display: block!important;
    position: relative;
    padding: 7px 10px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-left: 3px solid #888;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    transition: all .15s ease-out;
      height: 60px !important;
}

/*Remove text selection when toggle-ing*/
.faq-section label::selection{
    background: none;
}



/*If the checkbox is checked, style the label accordingly*/
.faq-section input[type=checkbox]:checked~label{
    border: none;
    background-color: #ff9c00;
    box-shadow: 0 0 1px rgba(0,0,0,.4);
}

/*Label's arrow - default state */
.faq-section label::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit;
}

/*Update the right arrow*/
.faq-section input[type=checkbox]:checked~label::before{
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;
}



#upload_file{
    font-size: 1.2em;
    background: #f5f5f5;
    display: block!important;
    position: relative;
    padding: 0;
    font-weight: bold;
    border: none;
    transition: all .15s ease-out;
    height: 128px !important;
    width: 150px !important;
    margin-left: 110px;
}
#upload_file::before {
    content:;
    position: relative;
    margin-top: 0px;
    border: none;
    border-left-color: inherit;
}

#upload_file img {
    height: 100%;
}

/* drop end */
@media(max-width: 1600px){
  .dashboard_page-container .sidebar-menu li{
    padding: 0 !important;
  }
  .dashboard_logo{
    margin-top: 35px;
    margin-bottom: 25px;
  }
  .dashboard_logo img{
    width: 95px;
    height: 34px;
  }
  .dashboard_user p{
    font-size: 16px;
  }
  .Employer_name{
    margin-top: 20px;
  }
  .Example_examplegmail_com{
    margin-bottom: 45px;
    font-size: 14px;
  }
  .clear{
    width: 100%;
    height: 20px;
  }
  /*.dash_img_add{*/
    /*margin-left: 100px;*/
  /*}*/
  .dash_textarea{
    max-width: 600px;
    width: 100%;
  height: 130px;
  font-size: 18px;
  padding-top: 11px;
  padding-left: 19px;
  margin-left: 80px;
  }
  /*  drop*/
  .dash_btn_bottom{
    width: 90%;
  }
  .dash_btn_bottom button{
    width: 260px;
    height: 47px;
    font-size: 19px;
  }
  /* .dis_block{
  } */
  .dash_3_blocks{
    margin-left: 80px;
    margin-top: 30px;
    width: 100%;
  }
  .dash_3_blocks_size{
  margin-right: 30px;
  }
  .dash_3_blocks_size p{
  font-size: 14px;
  }
  .dash_3_blocks_box{
    width: 70px;
  height: 62px;
  }
  .dbd_img{
    margin-left: 45px;
    margin-right: 23px;
  }
}
@media(max-width: 1200px) {
    .dashboard_page-container .sidebar-menu li a {
        font-size: 22px;
}
    .dashboard_page-container .sidebar-menu li {
        padding-left: 25px;
        margin-bottom: 20px;
    }
    .dashboard_content > .container-fluid {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .dashboard_content>h3, .dashboard_content>h1{
        padding-left: 50px;
    }
}
@media(max-width: 960px) {
    .dashboard_content > .container-fluid {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .d-box__bg {
        padding: 20px;
    }
    .d-box_title h2 {
        font-size: 18px;
        margin-right: 15px;
    }
    .d-box_title {
        margin-bottom: 15px;
    }
    .dashboard_content>h1 {
        padding-bottom: 30px;
    }
    .d-box>p {
         font-size: 16px;
         margin-bottom: 2px;
     }
    .dashboard_box>label{
        padding-left: 20px;
    }
}
@media(max-width: 767px){

  .dashboard_page-container .sidebar-menu li {
      margin-top: 25px !important;
  }
    .nav-btn {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 10px;
        cursor: pointer;
        float: left;
    }
    .nav-btn span {
        display: block;
        width: 22px;
        height: 2px;
        background: #b3aaaa;
        margin: 4px 0;
        border-radius: 15px;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        box-shadow: 0 0 0 4px rgba(99, 96, 96, 0.03);
    }
    .sbar_collapsed .nav-btn {
        margin-right: 15px;
        position: fixed;
        z-index: 99;
        left: 250px;
        background: #303641;
        padding: 14px;
        top: 0;
        margin: 0;
    }
    .sbar_collapsed .nav-btn span {
        background: #fffbfb;
    }
    .sbar_collapsed .nav-btn span:first-child {
        -webkit-transform: rotate(45deg)translate(5px, 5px);
        transform: rotate(45deg)translate(5px, 5px);
    }
    .sbar_collapsed .nav-btn span:nth-child(2) {
        opacity: 0;
    }
    .sbar_collapsed .nav-btn span:last-child {
        -webkit-transform: rotate(-45deg)translate(3px, -3px);
        transform: rotate(-45deg)translate(3px, -3px);
    }
    .dashboard_page-container aside {
        max-width: 250px;
        left: -250px;
        overflow: scroll;
    }
    .dashboard_page-container.sbar_collapsed aside {
        left: 0;
    }
    .dashboard_page-container .sidebar-menu li a {
        font-size: 18px;
    }
    .dashboard_page-container aside>h1 {
        padding-top: 35px;
        padding-bottom: 50px;
    }
    .dashboard_page-container {
        padding-left: 0;
    }
}
/* End Dashboard */


/* My Orders */

.order_box{
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.17);
    background-color: #ffffff;
    padding: 25px;
}
.order__box {
    width: 100%;
    padding-top: 13px;
    border-bottom: 1px solid silver;
}
.order__box_top {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.order__box_flex {
    display: flex;
    justify-content: space-between;
}
.order__box_flex_img img {
    width: 166px;
    height: 134px;
    margin-left: 60px;
    margin-right: 35px;
    margin-bottom: 36px;
}
.order__box_text {
    margin-right: 160px;
}
.orders_top_title{
     padding-bottom: 40px !important;
}
.order__box_text h3 {
    font-family: "Lato-Regular";
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 12px;
}
.order__box_text p {
    font-family: "Lato-Regular";
    font-size: 18px;
}
.order__box_text2 p {
    font-family: "Lato-Bold";
    font-size: 16px;
}
.order__box_quan {
    margin-bottom: 45px;
}
.order__box_button {
    margin-left: 50px;
    margin-right: 100px;
}
.order__box .center {
    width: 92px;
}
.order__box_price {
    font-family: "Lato-Bold";
    font-size: 24px;
    color: #DD0D0D;
    margin-top: 23px;
}
.order__box button.qty-minus {
    background-color: #67B8D6;
    width: 25px;
    height: 33px;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    padding: 4px;
}

.order__box input.CC-prodDetails-quantity {
    height: 33px;
    text-align: center;

}
.order__box button.qty-plus {
    background-color: #67B8D6;
    width: 25px;
    height: 33px;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    padding: 4px;
}
.order__box .glyphicon-plus:before {
    content: "\002b";
}
.order__box .glyphicon-minus:before {
    content: "\2212";
}
.order_box .order__box:last-child{
    border-bottom: unset;
}
@media(max-width: 1700px){
    .order__box_text {
        margin-right: 40px;
    }
    .order__box_button {
        margin-left: 30px;
        margin-right: 50px;
    }
    .order__box_text h3 {
        font-size: 26px;
        margin-bottom: 6px;
    }
    .order__box_text p {
        font-size: 17px;
    }
}
@media(max-width: 1400px) {
    .order__box_flex_img img{
        margin-left: 5px;
}
    .order__box_text h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .order__box_text p {
        font-size: 15px;
    }
}
@media(max-width:1100px){
    .order__box_flex {
        flex-direction: column;
        text-align: center;
    }
    .order__box_text {
        margin: 0 auto 10px auto;
    }
    .order__box_text2 {
        display: flex;
        justify-content: space-between;
    }
    .order__box_button {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    .order__box_price {
         margin: 0;
     }
    .order__box_quan {
        margin: 0 0 0 15px;
    }
}

/* End My Orders */

/* Address Book */

.address_top_title{
    padding-bottom: 50px !important;
}
.address_form>h3{
    padding-left: 34px;
    font-family: 'Lato-Bold';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    margin-bottom: 20px;
}
.address_form{
    padding-right: 60px;
}
.address_form form{
    padding: 34px 34px 70px 34px;
    min-height: 700px;
    box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
    background-color: #ffffff;
}
.address_form form .form-group label{
    font-family: 'Lato-Bold';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.81;
    letter-spacing: 0.4px;
    text-align: left;
    color: #848383;
}
.address_form form .form-group label .req{
    color: red;
}
.address_form form .form-control{
    height: 51px;
    border: solid 1px #cccccc;

}
.address_form form .form-group.str_address input{
    margin-bottom: 10px;
}
.address_form form .form-group select:focus,.address_form form .form-group select:active,.address_form form button:focus{
    outline: none;
    box-shadow: none;
}
.address_form form .btn{
    width: 135px;
    border-radius: 21px;
    border: solid 3px #01b8d7;
    background-color: #01b8d7;
    font-family: 'Lato-Regular';
    font-size: 22px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    float: right !important;
    line-height: 1;
}
@media(max-width: 1200px){
    .address_form {
        padding-right: 5px;
    }
}
@media(max-width: 1100px) {
    .address_form form {
        padding: 34px 15px 40px 15px;
        min-height: 590px;
}
    .address_form form .form-control {
        height: 35px;
    }
    .address_form>h3 {
        padding-left: 15px;
        font-size: 18px;
    }
    .address_form form .btn {
        width: 110px;
        font-size: 18px;
    }
}
@media(max-width: 767px) {
    .address_form form {
        padding: 34px 15px 70px 15px;
        min-height: auto;
        margin-bottom: 50px;
    }
}



/* End Address Book */

/* Account Information */

.account_form #datepicker{
    position: relative;
}
.account_form #datepicker > span {
    position: absolute;
    right: 17px;
    top: 11px;
}
.account_form #datepicker > span:hover{
    cursor: pointer;
}
.account_form #datepicker input{
background: #fff !important;
}
.account_top_title{
    padding-bottom: 50px !important;
}
.account_form>h3{
    padding-left: 34px;
    font-family: 'Lato-Bold';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: left;
    color: #000000;
    margin-bottom: 20px;
}
.account_form .account_checkbox{
    font-family: 'Lato-Bold';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.81;
    letter-spacing: 0.4px;
    text-align: left;
    color: #848383;
    margin-bottom: 20px;
    margin-top: 35px;
}
.account_form{
    padding-right: 60px;
}
.account_form form{
    padding: 34px 34px 70px 34px;
    max-width: 500px;
    wodth:100%;
    min-height: 670px;
    box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
    background-color: #ffffff;
}
.account_form form .form-group label{
    font-family: 'Lato-Bold';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.81;
    letter-spacing: 0.4px;
    text-align: left;
    color: #848383;
}

.account_form form .form-control{
    height: 51px;
    border: solid 1px #cccccc;

}
.account_form form button:focus{
    outline: none;
    box-shadow: none;
}
.account_form form .btn{
    width: 135px;
    border-radius: 21px;
    border: solid 3px #01b8d7;
    background-color: #01b8d7;
    font-family: 'Lato-Regular';
    font-size: 22px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    float: right !important;
    line-height: 1;
    margin-top: 50px;
}
@media(max-width: 1200px){
    .account_form {
        padding-right: 5px;
    }
}
@media(max-width: 1100px) {
    .account_form form {
        padding: 34px 15px 40px 15px;
        min-height: 590px;
    }
    .account_form form .form-control {
        height: 35px;
    }
    .account_form #datepicker > span {
        top: 3px;
    }
    .account_form>h3 {
        padding-left: 15px;
        font-size: 18px;
    }
    .account_form form .btn {
        width: 110px;
        font-size: 18px;
    }
}
@media(max-width: 767px) {
    .account_form form {
        padding: 34px 15px 70px 15px;
        min-height: auto;
        margin-bottom: 50px;
    }
    .account_form form .btn {
        margin-top: 5px;
    }
    .account_form>h3, .dashboard_content>h1{
        text-align: center;
    }
    .account_form form {
        margin: auto;
    }
}
@media(max-width: 1500px) {
    .account_form form {
        padding: 34px 15px 70px 15px;
        min-height: auto;
        margin-bottom: 50px;
    }
    .account_form form .btn {
        margin-top: 5px;
    }
    .account_form>h3, .dashboard_content>h1{
        text-align: center;
    }
    .account_form form {
        margin: auto;
    }

    .dashboard_page-container .sidebar-menu li{
      padding: 0 !important;
    }
    .dashboard_logo{
      margin-top: 35px;
      margin-bottom: 25px;
    }
    .dashboard_logo img{
      width: 95px;
      height: 34px;
    }
    .dashboard_user p{
      font-size: 16px;
    }
    .Employer_name{
      margin-top: 20px;
    }
    .Example_examplegmail_com{
      margin-bottom: 45px;
      font-size: 14px;
    }
    .clear{
      width: 100%;
      height: 20px;
    }
    .dash_img_add{
      /*margin-left: 100px;*/
      width: 150px;
    }
    .faq-section label {
    height: 40px !important;
    font-size: 16px
}
    .dash_textarea{
      max-width: 400px;
      width: 100%;
    height: 100px;
    font-size: 16px;
    padding-top: 11px;
    padding-left: 19px;
    margin-left: 80px;
    }
    /*  drop*/
    .dash_btn_bottom{
      width: 90%;
    }
    .dash_btn_bottom button{
      width: 160px;
      height: 35px;
      font-size: 16px;
    }
    /* .dis_block{
    } */
    .dash_3_blocks{
      margin-left: 80px;
      margin-top: 30px;
      width: 100%;
    }
    .dash_3_blocks_size{
    margin-right: 20px;
    }
    .dash_3_blocks_size p{
    font-size: 12px;
    }
    .dash_3_blocks_box{
      width: 50px;
    height: 50px;
    }
    .dbd_img{
      margin-left: 45px;
      margin-right: 23px;
      width: 24px;
      height: 23px;
    }
}
@media(max-width: 1300px) {

    .dashboard_logo{
      margin-top: 35px;
      margin-bottom: 25px;
    }
    .dashboard_logo img{
      width: 90px;
      height: 34px;
    }
    .dashboard_user p{
      font-size: 16px;
    }
    .dashboard_user img{
      width: 100px
    }
    .Employer_name{
      margin-top: 20px;
    }
    .Example_examplegmail_com{
      margin-bottom: 20px;
      font-size: 14px;
    }
    .clear{
      width: 100%;
      height: 20px;
    }
    .text_align{
      text-align: center;
    }
    .dash_img_add{
      /*margin-left: 0px;*/
      width: 130px;
    }
    .faq-section label {
    height: 40px !important;
    font-size: 16px
}
    .dash_textarea{
      max-width: 400px;
      width: 100%;
    height: 100px;
    font-size: 16px;
    padding-top: 11px;
    padding-left: 19px;
    margin-left: 0px;
    }
    /*  drop*/
    .dash_btn_bottom{
      width: 95%;
    }
    .faq-section {
    width: 95%;
}
    .dash_btn_bottom button{
      width: 160px;
      height: 35px;
      font-size: 16px;
    }
    /* .dis_block{
    } */
    .dash_3_blocks{
      margin-top: 10px;
      width: 100%;
      text-align: center;
    }
    .dash_3_blocks_size{
    margin-right: 10px;
    }
    .dash_3_blocks_size p{
    font-size: 10px;
    }
    .dash_3_blocks_box{
      width: 30px;
    height: 30px;
    }
    .dash_3_blocks_box img{
      width: 15px;
    }
    .faq-section {
    margin: 20px 0;
    position: relative;
}
    .dbd_img{
      margin-left: 45px;
      margin-right: 23px;
      width: 24px;
      height: 23px;
    }
    .dash_3_blocks {
    margin-left: 0px;
    text-align: center;
}
    .dash_3_blocks_flex {
justify-content: center;
flex-wrap: wrap;
}
}

/* End Account Information */
