header{
   box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
}
.find_1{
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
.find_1 h3{
    font-size: 38.5px;
    font-family: "Montserrat-Regular";
}
.find_1 p{
  font-size: 31px;
  font-family: "Montserrat-Regular";
  margin-bottom: 100px;
}
.find_line{
  width: 223px;
height: 1px;
background-color: #000000;
margin: 32px auto 55px auto;
}
.find_2{
  width: 100%;
    margin-bottom: 160px;
}
.find_2_box{
  position: relative;
  width: 380px;
height: 299px;
margin: 50px 10px 0 10px;
}
.find_img{
  width: 100%;
  height: 100%
}
.find_2_size{
margin: 0 auto;
width: 87%;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.find_2_box img{
object-fit: cover;
}
.find_box_absolute{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.find_box_absolute img{
margin-bottom: 20px;
width: 20px;
}
.find_box_absolute p{
    font-family: "Montserrat-Regular";
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
}
.find_box_absolute button{
    font-family: "Montserrat-Regular";
    font-size: 14.5px;
    width: 115px;
    height: 41px;
    border-radius: 10px;
    background-color: transparent;
      border: solid 1px #ffffff;
      color: #fff;
      margin-top: 20px;
}
@media screen and (max-width:1800px) {
  .find_2_box{
    position: relative;
    /* width: 381px; */
    height: 299px;
    margin-top: 50px;
  }
}
@media screen and (max-width:1700px) {
  .find_1{
    width: 92%;
    margin-top: 60px;
  }
  .find_1 h3{
      font-size: 37px;
  }
  .find_1 p{
    font-size: 30px;
    margin-bottom: 90px;
  }
  .find_line{
    width: 220px;
  margin: 30px auto 50px auto;
  }
  .find_2{
      margin-bottom: 140px;
  }
  .find_2_box{

  height: 299px;
  margin-top: 45px;
  }

  .find_2_size{
  width: 87%;
  }
  .find_box_absolute img{
  margin-bottom: 19px;
  }
  .find_box_absolute p{
    font-size: 21px;
  }
  .find_box_absolute button{
      font-size: 13px;
      width: 100px;
      height: 40px;
        margin-top: 19px;
  }

}
@media screen and (max-width:1500px) {
  .find_1{
    width: 92%;
    margin-top: 50px;
  }
  .find_1 h3{
      font-size: 32px;
  }
  .find_1 p{
    font-size: 25px;
    margin-bottom: 60px;
  }
  .find_line{
    width: 190px;
  margin: 25px auto 40px auto;
  }
  .find_2{
      margin-bottom: 140px;
  }
  .find_2_box{
    /* width: 24%; */
  height: 299px;
  margin-top: 45px;
  }
  .find_2_size{
  width: 87%;
  }
  .find_box_absolute img{
  margin-bottom: 19px;
  }
  .find_box_absolute p{
    font-size: 21px;
  }
  .find_box_absolute button{
      font-size: 13px;
      width: 100px;
      height: 40px;
        margin-top: 19px;
  }

}
@media screen and (max-width:1400px) {
  .find_1{
    width: 92%;
    margin-top: 40px;
  }
  .find_1 h3{
      font-size: 28px;
  }
  .find_1 p{
    font-size: 22px;
    margin-bottom: 40px;
  }
  .find_line{
    width: 150px;
  margin: 20px auto 30px auto;
  }
  .find_2{
      margin-bottom: 100px;
  }
  .find_2_box{
     width: 250px;
  height: 200px;
  margin-top: 35px;
  }
  .find_2_size{
  width: 87%;
  }
  .find_box_absolute img{
  margin-bottom: 10px;
  }
  .find_box_absolute p{
    font-size: 16px;
  }
  .find_box_absolute button{
      font-size: 11px;
      width: 80px;
      height: 30px;
        margin-top: 10px;
  }

}
@media screen and (max-width:1000px) {
  .find_1{
    width: 92%;
    margin-top: 30px;
  }
  .find_1 h3{
      font-size: 20px;
  }
  .find_1 p{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .find_line{
    width: 100px;
  margin: 20px auto;
  }
  .find_2{
      margin-bottom: 60px;
  }
  .find_2_box{
     width: 200px;
  height: 150px;
  margin-top: 20px;
  }
  .find_2_size{
  width: 92%;
  }
  .find_box_absolute img{
  margin-bottom: 5px;
  }
  .find_box_absolute p{
    font-size: 14px;
  }
  .find_box_absolute button{
      font-size: 10px;
      width: 80px;
      height: 25px;
        margin-top: 5px;
  }

}
@media screen and (max-width:479px) {
  .find_2_box{
     width: 130px;
  height: 150px;
  margin-top: 20px;
  }
}
