.find_2{
  width: 100%;
}
.find_2_size{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.find_2_left{
  width: 45%;
  margin: 0 auto;
}
.find_2_left_text{
  font-family:"Montserrat-Regular";
 font-size: 20px;
 margin-top: 40px;
 margin-bottom: 80px;
}
.find_2_left h3{
  font-family: "Montserrat-Regular";
 font-size: 38.5px;
 margin-top: 80px;
}
.find_2_left_inputs{
  display: flex;
  align-items: center;
}
.find_2_left_inputs input{
  width: 208px;
  height: 41px;
  border-radius: 10px;
  box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
  background-color: #ffffff;
  margin-right: 25px;
  border: none;
  font-family: "Montserrat-Regular";
  font-size: 16.5px;
  color: #c3c3c3;
  padding-left: 20px;
}
.find_2_left_inputs button{
  width: 129px;
  height: 41px;
  border-radius: 10px;
  background-color: #ff9c00;
  cursor: pointer;
  border: none;
  font-family: "Montserrat-Regular";
 font-size: 19px;
 color: #ffffff;
}
.find_2_left_select{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 50px;
}
.find_2_left_select p{
margin: 0;
font-family: "Montserrat-Regular";
font-size: 31px;
}
.find_2_left_select select{
  width: 115px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #ff9c00;
  background-color: #fff;
  font-family: "Montserrat-Regular";
  font-size: 19px;
  outline: none;
}
.find_2_left_block{
  height: 550px;
  overflow-y: scroll;
}
.find_2_left_box{
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 14.9px 0.2px rgba(124, 123, 123, 0.24);
  margin-bottom: 14px;
  padding: 20px 50px 17px 25px;
}
.find_2_left_box_left{
  display: flex;
}
.find_2_left_box_left_img{
  margin-right: 50px;
}
.find_2_left_box_left_names p{
  font-family: "Montserrat-Regular";
font-size: 21px;
}
.find_2_left_box_left_names_flex{
  display: flex;
}
.find_2_left_box_left_names_flex_box{
  text-align: center;
  margin-right: 30px;
}
.find_2_left_box_left_names_flex_box p{
  font-family: "Montserrat-Regular";
font-size: 13px;
}
.find_2_left_box_right_stars img{
  margin-left: 18px;
}
.find_2_left_box_right_btn{
  margin-top: 40px;
  width: 100%;
  text-align: right;
}
.find_2_left_box_right_btn button{
  width: 175px;
  height: 41px;
  border-radius: 10px;
  background-color: #ff9c00;
  font-family: "Montserrat-Regular";
font-size: 19px;
border: none;
cursor: pointer;
outline: none;
color: #ffffff;
}
#style-2::-webkit-scrollbar
{
	width: 18px;
	background-color: #F5F5F5;
}
#style-2::-webkit-scrollbar-thumb
{
	border-radius: 7px;
  border:1px solid #bbb;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e4e4e4;
}
.find_2_right{
  width: 41%;
}
.find_2_right img{
  width: 100%;
}
@media screen and (max-width:1712px) {
  .find_2_left{
    width: 45%;
  }
  .find_2_left_text{
   font-size: 18px;
   margin-top: 30px;
   margin-bottom: 60px;
  }
  .find_2_left h3{
   font-size: 32px;
   margin-top: 70px;
  }
  .find_2_left_inputs input{
    width: 190px;
    height: 39px;
    margin-right: 24px;
    font-size: 15px;
    padding-left: 17px;
  }
  .find_2_left_inputs button{
    width: 110px;
    height: 39px;
   font-size: 17px;
  }
  .find_2_left_select{
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .find_2_left_select p{
  font-size: 28px;
  }
  .find_2_left_select select{
    width: 100px;
    height: 39px;
    font-size: 17px;
  }
  .find_2_left_block{
    height: 520px;
  }
  .find_2_left_box{
    margin-bottom: 14px;
    padding: 18px 40px 15px 20px;
  }
  .find_2_left_box_left_img{
    margin-right: 40px;
  }
  .find_2_left_box_left_names p{
  font-size: 19px;
  }
  .find_2_left_box_left_names_flex_box{
    margin-right: 24px;
  }
  .find_2_left_box_left_names_flex_box p{
  font-size: 12px;
  }
  .find_2_left_box_right_stars img{
    margin-left: 10px;
  }
  .find_2_left_box_right_btn{
    margin-top: 30px;
  }
  .find_2_left_box_right_btn button{
    width: 160px;
    height: 39px;
  font-size: 17px;
  }
  #style-2::-webkit-scrollbar{
  	width: 18px;
  }

  .find_2_right{
    width: 41%;
  }
  .find_2_right img{
    width: 100%;
  }
}
@media screen and (max-width:1500px) {
  .find_2_left{
    width: 45%;
  }
  .find_2_left_text{
   font-size: 16px;
   margin-top: 20px;
   margin-bottom: 30px;
  }
  .find_2_left h3{
   font-size: 28px;
   margin-top: 70px;
  }
  .find_2_left_inputs input{
    width: 190px;
    height: 35px;
    margin-right: 22px;
    font-size: 14px;
    padding-left: 10px;
  }
  .find_2_left_inputs button{
    width: 110px;
    height: 35px;
   font-size: 14px;
  }
  .find_2_left_select{
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .find_2_left_select p{
  font-size: 22px;
  }
  .find_2_left_select select{
    width: 100px;
    height: 35px;
    font-size: 15px;
  }
  .find_2_left_block{
    height: 400px;
  }
  .find_2_left_box{
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
  }
  .find_2_left_box_left_img{
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .find_2_left_box_left_img img{
  width: 60%;
  }
  .find_2_left_box_left_names p{
  font-size: 16px;
  margin-bottom: 5px;
  }
  .find_2_left_box_left_names_flex_box{
    margin-right: 18px;
  }
  .find_2_left_box_left_names_flex_box p{
  font-size: 10px;
  }
  .find_2_left_box_right_stars img{
    margin-left: 5px;
    width: 18px;
  }
  .find_2_left_box_right_btn{
    margin-top: 20px;
  }
  .find_2_left_box_right_btn button{
    width: 120px;
    height: 30px;
  font-size: 12px;
  }

  .find_2_right{
    width: 41%;
  }
  .find_2_right img{
    width: 100%;
  }
}
@media screen and (max-width:1137px) {
  .find_2_left{
    width: 56%;
  }
  .find_2_left_text{
   font-size: 14px;
   margin-top: 10px;
   margin-bottom: 20px;
  }
  .find_2_left h3{
   font-size: 20px;
   margin-top: 50px;
  }
  .find_2_left_inputs input{
    width: 150px;
    height: 30px;
    margin-right: 20px;
    font-size: 12px;
    padding-left: 10px;
  }
  .find_2_left_inputs button{
    width: 90px;
    height: 30px;
   font-size: 12px;
  }
  .find_2_left_select{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .find_2_left_select p{
  font-size: 18px;
  }
  .find_2_left_select select{
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .find_2_left_block{
    height: 300px;
  }
  .find_2_left_box{
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
  }

  .find_2_left_box_left_img img{
  width: 60%;
  }
  .find_2_left_box_left_names p{
  font-size: 14px;
  margin-bottom: 5px;
  }
  .find_2_left_box_left_names_flex_box{
    margin-right: 18px;
  }
  .find_2_left_box_left_names_flex_box img{
    width: 15px;
  }
  .find_2_left_box_left_names_flex_box p{
  font-size: 10px;
  }
  .find_2_left_box_right_stars img{
    margin-left: 5px;
    width: 15px;
  }
  .find_2_left_box_right_btn{
    margin-top: 15px;
  }
  .find_2_left_box_right_btn button{
    width: 80px;
    height: 30px;
  font-size: 10px;
  }

  .find_2_right{
    width: 40%;
  }
  .find_2_right img{
    width: 100%;
  }
  #style-2::-webkit-scrollbar{
    width: 10px;
  }
}
@media screen and (max-width:836px) {
  .find_2_size{
    flex-direction: column;
  }
  .find_2_left{
    width: 92%;
  }
  .find_2_left_text{
   font-size: 14px;
   margin-top: 10px;
   margin-bottom: 20px;
  }
  .find_2_left h3{
   font-size: 20px;
   margin-top: 50px;
  }
  .find_2_left_inputs input{
    width: 150px;
    height: 30px;
    margin-right: 20px;
    font-size: 12px;
    padding-left: 10px;
  }
  .find_2_left_inputs button{
    width: 90px;
    height: 30px;
   font-size: 12px;
  }
  .find_2_left_select{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .find_2_left_select p{
  font-size: 18px;
  }
  .find_2_left_select select{
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .find_2_left_block{
    height: 300px;
  }
  .find_2_left_box{
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
  }

  .find_2_left_box_left_img img{
  width: 60%;
  }
  .find_2_left_box_left_names p{
  font-size: 14px;
  margin-bottom: 5px;
  }
  .find_2_left_box_left_names_flex_box{
    margin-right: 18px;
  }
  .find_2_left_box_left_names_flex_box img{
    width: 15px;
  }
  .find_2_left_box_left_names_flex_box p{
  font-size: 10px;
  }
  .find_2_left_box_right_stars img{
    margin-left: 5px;
    width: 15px;
  }
  .find_2_left_box_right_btn{
    margin-top: 15px;
  }
  .find_2_left_box_right_btn button{
    width: 80px;
    height: 30px;
  font-size: 10px;
  }

  .find_2_right{
    width: 60%;
    margin: 30px auto 30px auto;
    height: 300px;
  }
  .find_2_right img{
    width: 100%;
    height: 300px;
  }
  #style-2::-webkit-scrollbar{
    width: 10px;
  }
}
@media screen and (max-width:514px) {
  .find_2_size{
    flex-direction: column;
  }
  .find_2_left{
    width: 97%;
  }
  .find_2_left_text{
   font-size: 14px;
   margin-top: 10px;
   margin-bottom: 20px;
  }
  .find_2_left h3{
   font-size: 20px;
   margin-top: 50px;
  }
  .find_2_left_inputs input{
    width: 150px;
    height: 30px;
    margin-right: 20px;
    font-size: 12px;
    padding-left: 10px;
  }
  .find_2_left_inputs button{
    width: 90px;
    height: 30px;
   font-size: 12px;
  }
  .find_2_left_select{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .find_2_left_select p{
  font-size: 18px;
  }
  .find_2_left_select select{
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .find_2_left_block{
    height: 300px;
  }
  .find_2_left_box{
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
  }
  .find_2_left_box{
    flex-direction: column;
  }
.find_2_left_box_right{
  text-align: center;
}
.find_2_left_box_right_btn{
  text-align: center;
}
  .find_2_left_box_left_img img{
  width: 60%;
  }
  .find_2_left_box_left_img {
  width: 60%;
  }
  .find_2_left_box_left_names p{
  font-size: 14px;
  margin-bottom: 5px;
  }
  .find_2_left_box_left_names_flex_box{
    margin-right: 18px;
  }
  .find_2_left_box_left_names_flex_box img{
    width: 15px;
  }
  .find_2_left_box_left_names_flex_box p{
  font-size: 10px;
  }
  .find_2_left_box_right_stars img{
    margin-left: 5px;
    width: 15px;
  }
  .find_2_left_box_right_btn{
    margin-top: 15px;
  }
  .find_2_left_box_right_btn button{
    width: 80px;
    height: 30px;
  font-size: 10px;
  }

  .find_2_right{
    width: 60%;
    margin: 30px auto 30px auto;
    height: 300px;
  }
  .find_2_right img{
    width: 100%;
    height: 300px;
  }
  #style-2::-webkit-scrollbar{
    width: 10px;
  }
}
