.login{
  width: 100%;
  background-image: url("../assets/images/general/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 130px 0;
  margin-bottom: 100px;
}
.login_size{
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.login_left{
  width: 48%;
  max-width: 333px;
  min-width: 332px;
  background-color: #fff;
  text-align: center;
  margin: 0 25px;
}
.login_left h6{
margin-top: 35px;
margin-bottom: 29px;
  font-family: "Montserrat-Regular";
  font-size: 20px;
}
.login_left img{
margin-bottom: 35px;
}
.login_left p{
margin-bottom: 20px;
font-family: "Montserrat-Regular";
font-size: 18px;
}
.login_left button{
  width: 264px;
  height: 41px;
margin-bottom: 50px;
margin-top: 20px;
font-family: "Montserrat-Regular";
font-size: 18px;
color: #fff;
border: none;
outline: none;
cursor: pointer;
border-radius: 10px;
background-color: #FF9C00;
}

.login_reg{
  width: 100%;
  padding-bottom: 80px;
}

.login_reg .register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_reg_top{
  margin-bottom: 35px;
  text-align: center;
}
.login_reg_top p{
  font-size: 40px;
  margin-bottom: 25px;
  font-family: "Montserrat-Regular";
  color: #5a5a5a;
}
.login_reg_line{
  width: 222px;
  height: 1px;
  background-color: #000000;
  margin: 0 auto;
}
.login_reg_main{
  width: 40%;
  margin: 0 auto;
  box-shadow: 0px 2px 17px 3px rgba(0, 0, 0, 0.13);
  padding-top: 60px;
  text-align: center;
  padding-bottom: 40px;
}
.login_reg_main input{
  width: 85%;
  height: 41px;
  border-radius: 10px;
  box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
  background-color: #ffffff;
  border: none;
  margin: 0 auto;
  margin-bottom: 12px;
  padding-left: 20px;
  font-size: 16px;
  color: #c3c3c3;
  font-family: "Montserrat-Regular";
}
.login_reg_main_remm{
  display: flex;
  align-items: center;
  margin: 30px auto;
  width: 70%;
}
.login_reg_main_remm input{
  width: 13px;
  height: 13px;
  margin: 0;
}
.login_reg_main_remm p{
  margin-left: 10px;
  font-size: 16px;
  font-family: "Montserrat-Regular";
  margin-bottom: 0;
}
.login_reg_sign_up{
  width: 109px;
  height: 41px;
  border-radius: 10px;
  background-color: #ff9c00;
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat-Regular";
}
.login_reg_log_btn{
  width: 109px;
  height: 41px;
  border-radius: 10px;
  border: solid 1px #ff9c00;
  font-size: 16px;
  font-family: "Montserrat-Regular";
  background-color: #fff;
}

.password-reset .login_reg_log_btn,
.password-reset-area .login_reg_log_btn {
  width: initial;
}

.password-reset-area form {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*text-align: center;*/
}

.login_reg_already{
  margin: 30px 0 20px 0;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  text-decoration: underline;
  color: #464646;
}
.login_reg_privacy{
  margin: 20px 0 0 0;
  font-family: "Montserrat-Regular";
  font-size: 12px;
  text-decoration: underline;
  color:inherit;
  display: block;
}

@media screen and (max-width:1300px) {
  .login{
    padding: 100px 0;
    margin-bottom: 100px;
  }
  .login_size{
    width: 100%;
  }
  .login_left{
    width: 48%;
    min-width: auto;
  }
  .login_left h6{
  margin-top: 20px;
  margin-bottom: 15px;
    font-size: 16px;
  }
  .login_left img{
  margin-bottom: 20px;
  }
  .login_left p{
  margin-bottom: 15px;
  font-size: 14px;
  }
  .login_left button{
    width: 180px;
    height: 35px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 14px;
  }
}
@media screen and (max-width:600px) {
  .login{
    padding: 50px 0;
    margin-bottom: 100px;
  }
  .login_size{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .login_left{
    width: 300px;
    min-width: auto;
    margin: 20px 0;
  }
  .login_left h6{
  margin-top: 20px;
  margin-bottom: 15px;
    font-size: 16px;
  }
  .login_left img{
  margin-bottom: 20px;
  width: 60px;
  }
  .login_left p{
  margin-bottom: 15px;
  font-size: 14px;
  }
  .login_left button{
    width: 180px;
    height: 35px;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 14px;
  }
}
