html, body{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
button{
  border: none;
  cursor: pointer;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "OFL";
  src: url("../assets/fonts/OFL.txt");
}
.navbar {
  width: 86.5%;
  margin: 0 auto;
  background-color: #fff !important;
}
.navbar-nav{
  display: flex;
  align-items: center;
}
.navbar-nav li a{
  font-family: "Montserrat-Regular";
  font-size: 19px;
  margin-left: 90px;
  color: #000 !important;
  line-height: 2;
}
#sign_up{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ff9c00;
  color: #fff !important;
  width: 115px;
  height: 40px;
  text-align: center;
}
.lawyers_1{
  width: 100%;
  background-image: url("../assets/images/general/layer1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 950px;
}

.lawyers_1 .opacity_bg, .lawyers_3 .opacity_bg, .lawyers_7 .opacity_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(54,24,1, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lawyers_1_size{
  width: 56%;
  margin: 0 auto;
  text-align: center;
}
.lawyers_1_size h1{
  font-family: "Montserrat-Regular";
  font-size: 60px;
  color: #fff;
  margin-bottom: 40px;
}
.lawyers_1_size p{
  font-family: "Montserrat-Regular";
  font-size: 21px;
  color: #fff;
  margin: 0 auto;
}
.Reach_the{
    width: 81%;
}
.more_more{
  padding-top: 20px;
}
.lawyers_1_inputs{
  width: 66%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
}
.lawyers_1_inputs input{
  width: 100%;
  height: 41px;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat-Regular";
  font-size: 16.5px;
  color: #c3c3c3;
  text-align: center;
}
.lawyers_1_inputs button{
  width: 20%;
  height: 41px;
  border-radius: 10px;
  background-color: #ff9c00;
  font-family:"Montserrat-Regular";
  font-size: 16.5px;
  color: #ffffff;
  cursor: pointer;
}
.law_avatar{
  position: relative;
  width: 37%;
}
#avatar{
  top: 0;
bottom: 0;
position: absolute;
border-right: 1px solid #abaaaa;
margin: auto;
left: 10px;
padding-right: 10px
}
#law_loc{
  top: 0;
bottom: 0;
position: absolute;
border-right: 1px solid #abaaaa;
margin: auto;
padding-right: 10px;
left: 10px;
}
.lawyers_1_bottom{
  margin: 0 auto;
  width: 59%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lawyers_1_bottom_box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lawyers_1_bottom img{
  margin-bottom: 10px;
}
.lawyers_1_bottom {
  margin-bottom: 10px;
}
.Reach_legals{
  width: 100%;
  text-align: center;
}

.Reach_legals h3{
  font-family: "Montserrat-Bold";
  font-size: 38.5px;
  margin-top: 150px;
  margin-bottom: 20px;
}
.Reach_legals p{
  font-family: "Montserrat-Regular";
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 80px;
}
.Reach_legals_div{
  width: 200px;
  height: 2px;
  margin: 0 auto;
  background-color: #000;
}
.lawyers_2{
  width: 100%;
  padding-bottom: 50px;
}

.lawyers_2_profile {
  width: 140px;
  border-radius: 67px;
}
.lawyers_2_flex{
  display: flex;
  justify-content: space-around;
  width: 70.5%;
  margin: 0 auto;
}
.lawyers_2_box{
  width: 30%;
  box-shadow: 0px 1px 14.9px 0.2px rgba(124, 123, 123, 0.24);
  text-align: center;
  padding: 40px 0 60px 0;
}
.lawyers_2_box p{
  font-family: "Montserrat-Regular";
  font-size: 21px;
  margin-top: 20px;
}
.lawyers_2_box button{
  font-family: "Montserrat-Regular";
  font-size: 14.5px;
  color: #fff;
  width: 123px;
  height: 38px;
  border-radius: 10px;
  background-color: #ff9c00;
  margin-top: 40px;
}
.lawyers_2_stars img{
  margin-right: 15px;
}
.lawyers_2_checkbox{
  display: flex;
  align-items: center;
}
.lawyers_2_checkbox p{
  font-family: "Montserrat-Regular";
  font-size: 14px;
}
.lawyers_2_checkbox input{
  margin-right: 7px;
  width: 15px;
  height: 15px;
}
.lawyers_2_inp{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.lawyers_3{
  width: 100%;
  background-image: url("../assets/images/general/img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 150px;
  position: relative;
  height: 900px;
}
.lawyers_3 h3{
  font-family: "Montserrat-Regular";
  font-size: 30px;
  color: #fff;
  margin-bottom: 80px;
}
.lawyers_3 p{
  font-family: "Montserrat-Regular";
  font-size: 20px;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.lawyers_4{
  width: 100%;
  margin-top: 100px;
}
.lawyers_4_size{
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



#image1, #image2{
  width: 51%;
  margin: 0 auto;
}
 #image3{
  width: 80%;
  margin: 0 auto;
  box-shadow: none
}












.lawyers_4_left, .lawyers_4_right1{
  width: 50%;
}
.verified{
  display: flex;
  align-items: center;
}
.verified p{
  font-family: "Montserrat-Regular";
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 0 30px;
}
.lawyers_4_left_text{
  padding-left: 80px;
}
.lawyers_4_left_text {
font-size: 20px;
  font-family: "Montserrat-Regular";
}
.lawyers_4_left_bottom{
  width: 50%;
  text-align: right;
  margin-top: 60px;
}
.lawyers_4_left_bottom1{
  width: 90%;
  text-align: right;
  margin-top: 60px;
}
.lawyers_4_left_bottom button{
  width: 154px;
height: 37px;
border-radius: 10px;
background-color: #ff9c00;
color: #fff;
font-size: 14px;
margin-bottom: 50px;
}
.Learn_more{
  margin-left: 50px;
}
.lawyers_4_right{
  width: 50%;
}
.lawyers_4_right_box{
    box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
    text-align: center;
}
.lawyers_items, .lawyers_items1{
  cursor: pointer;
}
.lawyers_items, .lawyers_items1{
  opacity: 0.3;
}
.lawyers_items:first-child, .lawyers_items1:first-child{
  opacity: 0.3;
}
.lawyers_4_right_box:nth-child(2), .lawyers_4_right_box:last-child,
.lawyers_4_right_box1:nth-child(2), .lawyers_4_right_box1:last-child{
  display: none;
}
.lawyers_4_right_box1{
  display: flex;
  justify-content: center;
}
.lawyers_4_right_box1 img{
  width: 50%;
  height: 50%;
}
.lawyers_4_right_box button{
  width: 154px;
height: 37px;
border-radius: 10px;
background-color: #ff9c00;
color: #fff;
font-size: 14px;
margin-bottom: 50px;
}
.lawyers_4_right_box_top{
  width: 100%;
  height: 69px;
  background-color: #4394fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lawyers_4_right_box_top p{
  font-family: "Montserrat-Regular";
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}
.mo_price{
  font-size: 80px !important;
      font-family: "Montserrat-Bold";
  margin-left: 10px;
}
.lawyers_4_right_box_price p{
  font-size: 25px;
    font-family: "Montserrat-Regular";
  margin: 0
}
.lawyers_4_right_box_price {

}

.poss_price_text{
  width: 70%;
  margin: 40px auto;
}
.lawyers_5{
  width: 100%;
}
.lawyers_5_size{
  width: 90%;
  margin: 0 auto;
}
.lawyers_5_right{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}


.lawyers_4_right_box_2{
  background-color: #FF9C00;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 10px ;
  font-size: 12px;
}
.lawyers_4_right_box_3{
  background-color: #3F8BEE;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
    font-size: 12px;
}
.dis_flex_end{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.book img{
  width: 50%;
}


#Learn_more{
  background-color: #fff;
  color: #000;
  border: solid 1px #ff9c00;
  margin-left: 25px;
}
.lawyers_5_right_right{
  width: 71%;
}
.lawyers_5_right_left{
  width: 24%;
}
.lawyers_5_right_left img {
    width: 66%;
}
.lawyers_6{
  width: 100%;
  background-color: #f5f4f4;
  padding-top: 1px;
  padding-bottom: 50px;
  margin-top: 40px;
}
.lawyers_6_size{
  width: 50%;
  margin: 80px auto 0 auto;
}

.slider_box{
box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
padding: 50px 10px 30px 10px;
}
.slider_name{
  width: 100%;
  text-align: center;
  font-family: "Montserrat-Regular";
font-size: 16px;
font-weight: bold;
}
.slider_img{
  width: 100px;
  height: 100px;
  margin-bottom: -30px;
}
.slider_img img{
  width: 100%;
}
.slider_box_top, .slider_box_bottom{
  width: 100%;
}
.slider_box_top img, .slider_box_bottom img{
  width: 19px !important;
  height: 19px !important;
}
.slider_box_bottom{
  display: flex;
  justify-content: flex-end;
}
.slider_box_main{
width: 90%;
margin: 0 auto;
text-align: center;
}
.lawyers_7{
  width: 100%;
  height: 440px;
  background-image: url("../assets/images/general/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.lawyers_7_size{
  width: 62%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
    font-family: "Montserrat-Regular";
}
.lawyers_7_size h3{
  font-size: 50px;
  margin-bottom: 40px;
}
.lawyers_7_size p{
  font-size: 20px;
  margin-bottom: 30px;
}
.lawyers_7_size input{
  width: 264px;
  height: 41px;
  border-radius: 10px;
    font-size: 16px;
    border: none;
    text-align: center;
    margin-right: 25px;
}
.lawyers_7_size button{
  width: 137px;
  height: 41px;
  border-radius: 10px;
  background-color: #ff9c00;
   font-size: 16.5px;
   color: #fff;
}
footer{
  width: 100%;
}
.footer_size{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
    font-family: "Montserrat-Regular";
    padding: 40px 0 50px 0;
}
.footer_size p{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer_size ul li{
  position: relative;
  font-size: 20px;
    list-style-type: none;
    margin-bottom: 15px;

}
.footer_size ul li a{
color: #000;
text-decoration: none;
}
.footer_size ul li:before{
  content: '';
  position:absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff9c00;
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;


}
.footer_size ul {
margin: 0;
padding: 0;

}
.footer_soc{
  margin-top: 40px;
}
.footer_soc img{
  margin-left: 20px;
}
.footer_4{
  text-align: center;
}
.lawyers_bottom{
  width: 100%;
  height: 51px;
background-color: #ffae2e;
display: flex;
justify-content: center;
align-items: center;
}
.lawyers_bottom P{
  margin: 0;
  color: #FFF;
  font-family: "Montserrat-Regular";
  font-size: 15px;
    line-height: 2.37;
}
.owl-carousel .item{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 262px;
  margin: 0 auto;
}
.owl-carousel .owl-stage-outer{
  height: 350px;
}
.owl-carousel .owl-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded{
  position: relative;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  font-size: 60px;
}
.owl-carousel .owl-nav button.owl-prev{
  position: absolute;
  left: -40px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.owl-carousel .owl-nav button.owl-next{
  position: absolute;
  right: -40px;
  top: 0;
  bottom: 0;
  margin: auto;
}
button:focus{
  outline: none;
}
.active{
  display: block !important;
}
.modal-dialog{
  margin-top: 100px;
}
.modal_main{
  width: 100%;
  text-align: center;
}
/*.modal-content {*/
    /*width: 135%;*/
/*}*/
.modal-header {
     padding: 0;
     border: none;
     padding-right: 10px;
}
.modal-body{
  padding: 0;
}
.mod_buttons {
margin-top: 30px;
margin-bottom: 40px;
}
.mod_buttons button{
  width: 175px;
height: 41px;
border-radius: 10px;
box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
border: solid 2px #ff9c00;
background-color: #ffffff;
font-size: 18px;
  font-family: "Montserrat-Regular";
}
.mod_title{
  font-size: 20px;
    font-family: "Montserrat-bold";
    margin-bottom: 30px;
}
.mod_inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mod_inputs input{
margin-top: 10px;
width: 264px;
height: 41px;
border-radius: 10px;
box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
  color: #c3c3c3;
  font-family: "Montserrat-Regular";
font-size: 16.5px;
border: none;
padding-left: 15px;
}
.mod_remember{
  width: 60%;
  margin: 27px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mod_remember p{
margin: 0;
 font-size: 16px;
   font-family: "Montserrat-Regular";
}
.mod_remember input{
  width: 15px;
  height: 15px;
}
.mod_but_sign button{
  width: 264px;
height: 41px;
border-radius: 10px;
background-color: #ff9c00;
 font-size: 16.5px;
   color: #ffffff;
     font-family: "Montserrat-Regular";
}
.mod_already{
  margin: 30px 0 20px 0;
}
.mod_already a{
     font-family: "Montserrat-Regular";
  font-size: 13.5px;
  color: #414242;
  text-decoration: underline;

}
.mod_login button{
  width: 264px;
height: 41px;
border-radius: 10px;
border: solid 1px #ff9c00;
background-color: #fff;
font-size: 16.5px;
font-family: "Montserrat-Regular";
}
.Privacy_Policy a{
  font-family: "Montserrat-Regular";
font-size: 13.5px;
color: #414242;
text-decoration: underline;
}
.Privacy_Policy {
margin: 25px 0 40px 0;
}





.empty_space{
  height: 30px;
  width: 100%;
}
.forgot_pass{
  width: 80%;
  text-align: right;
}
.Don’t_have a{
  font-family: "Montserrat-Regular";
font-size: 13.5px;
color: #414242;
text-decoration: underline;
}
.Don’t_have {
margin-bottom: 20px;
}

.input-error {
  font-size: 11px;
  display: block;
  color: red;
  margin-bottom: 9px;
}

.success-message {
  color: red
}

.hand {
  cursor: pointer;
}