header{
   box-shadow: 0px 1px 14.6px 0.5px rgba(124, 123, 123, 0.35);
}
.single_1{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.single_1 h3{
    font-size: 40px;
    font-family: "Montserrat-Regular";
}
.single_line{
  width: 222px;
height: 1px;
background-color: #000;
margin: 20px auto 100px auto;
}
.single_2{
  width: 87%;
  margin: 0 auto 130px auto;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat-Regular";
}
.single_2_left{
  width: 25.5%;
}
.single_2_left img{
  width: 100%
}
.single_2_right{
  width: 67.5%;
}
.single_2_right_top{
  display: flex;
  align-items: center;
}
.single_2_right_top p{
margin:  0;
font-size: 26px;
font-weight: bold;

}
.single_2_right_top img{
margin-right: 40px;
}
.single_2_right_main{
  margin-left: 89px;
  margin-top: 40px;
}
.single_2_right_main p{
  margin: 0;
  font-size: 20px;
}
@media screen and (max-width:1700px) {

.single_1{
  margin-top: 90px;
}
.single_1 h3{
    font-size: 37px;
}
.single_line{
  width: 210px;
margin: 19px auto 90px auto;
}
.single_2{
  width: 87%;
  margin: 0 auto 120px auto;
    align-items: center;
}
.single_2_left{
  width: 25.5%;
}
.single_2_left img{
  width: 100%
}
.single_2_right{
  width: 67.5%;
}
.single_2_right_top p{
font-size: 24px;
}
.single_2_right_top img{
margin-right: 40px;
}
.single_2_right_main{
  margin-left: 89px;
  margin-top: 40px;
}
.single_2_right_main p{
  font-size: 19px;
}
}
@media screen and (max-width:1370px) {

.single_1{
  margin-top: 70px;
}
.single_1 h3{
    font-size: 30px;
}
.single_line{
  width: 180px;
margin: 15px auto 70px auto;
}
.single_2{
  width: 87%;
  margin: 0 auto 100px auto;
}
.single_2_left{
  width: 25.5%;
}
.single_2_left img{
  width: 100%
}
.single_2_right{
  width: 67.5%;
}
.single_2_right_top p{
font-size: 20px;
}
.single_2_right_top img{
margin-right: 30px;
width: 30px;
}
.single_2_right_main{
  margin-left: 60px;
  margin-top: 20px;
}
.single_2_right_main p{
  font-size: 15px;
}
}
@media screen and (max-width:1000px) {

.single_1{
  margin-top: 40px;
}
.single_1 h3{
    font-size: 24px;
}
.single_line{
  width: 100px;
margin: 10px auto 40px auto;
}
.single_2{
  width: 95%;
  margin: 0 auto 50px auto;
}
.single_2_left{
  width: 29%;
}
.single_2_left img{
  width: 100%
}
.single_2_right{
  width: 69%;
}
.single_2_right_top p{
font-size: 16px;
}
.single_2_right_top img{
margin-right: 20px;
width: 20px;
}
.single_2_right_main{
  margin-left: 0px;
  margin-top: 10px;
}
.single_2_right_main p{
  font-size: 13px;
}
}
@media screen and (max-width:600px) {

.single_1{
  margin-top: 30px;
}
.single_1 h3{
    font-size: 20px;
}
.single_line{
  width: 90px;
margin: 10px auto 30px auto;
}
.single_2{
  width: 95%;
  margin: 20px auto;
  flex-direction: column;
}
.sing_clone{
  flex-direction: column-reverse !important;
}
.single_2_left{
  width: 50%;
}
.single_2_left img{
  width: 100%;
  margin-bottom: 20px;
}
.single_2_right{
  width: 100%;
  text-align: justify;
}
.single_2_right_top p{
font-size: 16px;
}
.single_2_right_top {
  justify-content: center;
}
.single_2_right_top img{
margin-right: 20px;
width: 20px;
}
.single_2_right_main{
  margin-left: 0px;
  margin-top: 10px;
}
.single_2_right_main p{
  font-size: 13px;
}
}
